/*--------------------------------------------------
    ##Footer
---------------------------------------------------*/
.footer-area {
	padding: 100px 0 45px;
	background: #F5F2F2;
	margin-top: 50px;

	@include md {
		margin-top: 150px;
	}
}
